{%extends "base.html"%}

{%block base_block%}
<div class="d-flex flex-column justify-content-center" 
        style="height: 500px;">
<div class="d-flex justify-content-center">
<form method="post" action="{%url 'responseslam' %}">
{%csrf_token%}

<input class="form-control col-sm-12" style="display:initial !important" type="text" placeholder="Template Name" name='pk'>
<input class="form-control col-sm-12" style="display:initial !important" type="checkbox" placeholder="Template Name" name='ans[]' value=0>
<input class="form-control col-sm-12" style="display:initial !important" type="checkbox" placeholder="Template Name" name='ans[]' value=1>
<input class="form-control col-sm-12" style="display:initial !important" type="checkbox" placeholder="Template Name" name='id[]'  value=46>
<input class="form-control col-sm-12" style="display:initial !important" type="checkbox" placeholder="Template Name" name='id[]'  value=47>

<input type="submit">
</form>
</div>
</div>

{%endblock%}
